body {
    margin: 0;
    min-width: 1480px;
}
#header {
    background-image: url("images/paisley.png");
    text-align: center;
}
#navbar-top {
    display: flex;
    align-items: center;
    width: 100%;
}
#navbar-top>a {
    margin: 10 auto 10 10;
}
#navbar-top-right {
    white-space: nowrap;
	color: Black;
}
#navbar-top-right img {
	width: 20px;
	height: 20px;
}
.nav-top-item {
	height: 21.6px;
    display: inline-block;
    background-color: rgba( 0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 7 11 7 11;
    margin-right: 20px;
}
.nav-top-item a{
	text-decoration: none;
}
.nav-top-item a:link, .nav-top-item a:hover, .nav-top-item a:visited{
    color: black;
}
#header-content {
    max-width: 56em;
    margin: auto;
    padding: 0 6em 5em 6em;
}
#header-content p {
    color: Black;
    margin: 1em 0 1em 0;
}
#navbar-mid {
    display: flex;
    align-items: center;
    background-image: url("images/prism.png");
    height: 80px;
    padding: 0 30px 0 30px;
}
#navbar-mid form {
    display: inline-flex;
    height: 40px;
    width: 500px;
    margin: 0 auto 0 0;
    background-color: lavender;
    border: 2px black solid;
    border-radius: 20px;
}
#navbar-mid input {
    width: 90%;
    height: 100%;
    padding-left: 2em;
    margin: 0;
    border: none;
    background-color: transparent;
}
#navbar-mid button {
    width: 10%;
    background-color: transparent;
    border: none;
}
#navbar-mid img {
    margin: 0;
}
#navbar-mid ul {
    white-space: nowrap;
}
.nav-mid-item {
    display: inline-flex;
    width: 100px;
    height: 80px;
    position: relative;
}
.nav-mid-item a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    margin: auto;
	text-decoration: none;
}
.nav-mid-item a:link, .nav-mid-item a:hover, .nav-mid-item a:visited{
	color: white;
}
.nav-mid-item-drop{
    position: absolute;
    width: 100px;
    top: 80px;
    display: none;
    z-index: 10;
}
.nav-mid-item-drop ul{
    background-image: url("images/prism.png");
    padding: 0;
    list-style: none;
    border-left: 3px goldenrod solid;
    border-right: 3px goldenrod solid;
}
.nav-mid-item-drop a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    margin-top: auto;
}
.nav-mid-item-drop a:link, .nav-mid-item-drop a:hover, .nav-mid-item-drop a:visited{
    color: white;
}
.nav-mid-item-drop li {
    display: flex;
    text-align: center;
    height: 50px;
}
.nav-mid-item-drop span {
	margin: auto;
}
#container {
    display: flex;
    width: 100%;
    background-image: url("images/stripes-light.png");
}
.emoticon-Thumbnail {
	width: 33%;
	height: 33%;
}
#nav-mid-left {
    margin-right: auto;
    padding: 2em 30px 0 70px;
    background-image: url("images/tweed.png");
}
#nav-mid-left ul {
    list-style: none;
    width: 180px;
    padding: 0;
}
#nav-mid-left li {
    display: flex;
    height: 60px;
    text-align: right;
}
#nav-mid-left a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    margin: auto 0 auto auto;
	text-decoration: none;
}
#nav-mid-left a:link, #nav-mid-left a:hover, #nav-mid-left a:visited{
	color: white;
}
#content {
    display: flex;
    flex-direction: column;
    padding: 2em 3em 2em 3em;
	min-width: 600px;
}
#content table {
    border-spacing: 40px;
}
#content td {
    text-align: center;
}
#Thumbnail{
    width: 150px;
    height: 150px;
}
#content p {
	margin: 5px 0 5px 0;
	font-family: 'Didact Gothic';
}
a{
	z-index : 3;
}
#view {
	display: flex;
	align-content: center;
	margin: 5px 0 5px 0;
}
#view img {
	width: 25px;
	height: 25px;
	margin-left: auto;
}
#view p {
	margin: auto auto auto 10px;
}
#content a {
	text-decoration: none;
}
#content a:link, #content a:hover, #content a:visited{
	color: black;
}
#content-footer {
    display: flex;
    flex-direction: column;   
}
#paging {
    display: flex;
    margin: 2em auto 0 auto;
}
#paging p {
    margin: auto 20px auto 20px;
}
#paging img {
    width: 30px;
    height: 30px;
}
#upload {
	text-align: right;
}
#ad {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: auto;
    padding: 2em 0 2em 0;
    background-color: rgba( 0, 0, 0, 0.1);
}
#ad a {
    margin: auto;
}
#footer {
    background-color: #151113;
    padding: 2em;
    text-align: right;
}
#footer p {
    font-family: 'Noto Sans KR';
    color: white;
}