body {
    margin: 0;
    min-width: 1400px;
}
#navbar-top {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}
#navbar-top>a {
    margin: 10 10 10 10;
}
#navbar-top-right {
    margin: 0 10px 0 auto;
    white-space: nowrap;
	color: Black;
}
#navbar-top-right img {
	width: 20px;
	height: 20px;
}
.nav-top-item {
	height: 21.6px;
    display: inline-block;
    background-color: rgba( 0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 7 11 7 11;
    margin-right: 20px;
}
.nav-top-item a{
	text-decoration: none;
	margin-top: 5px;
}
.nav-top-item a:link, .nav-top-item a:hover, .nav-top-item a:visited{
    color: black;
}
#header {
    background-image: url("images/paisley.png");
    text-align: center;
    padding: 4em 0 2em 0;
}
#header-content {
    max-width: 56em;
    margin: auto;
    padding: 2em 6em 2em 6em;
}
#header-content p {
    color: Black;
    margin: 1em 0 1em 0;
}
#header-content form {
    display: inline-flex;
    max-width: 100%;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: lavender;
    border: 2px black solid;
    border-radius: 20px;
}
#header-content input {
    width: 90%;
    height: 100%;
    padding-left: 2em;
    margin: 0;
    border: none;
    background-color: transparent;
}
#header-content button {
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#header-content img {
    margin: 0;
}
#navbar-mid {
    display: flex;
    align-items: center;
    background-image: url("images/prism.png");
    height: 80px;
}
#navbar-mid ul {
    white-space: nowrap;
    margin: auto;
    padding: 0px;
}
.nav-mid-item {
    display: inline-flex;
    width: 150px;
    height: 80px;
    position: relative;
}
.nav-mid-item a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    margin: auto;
	text-decoration: none;
}
.nav-mid-item a:link, .nav-mid-item a:hover, .nav-mid-item a:visited{
	color: white;
}
.nav-mid-item-drop{
    position: absolute;
    width: 180px;
    top: 47px;
    left: -15px;
    /*padding-top: 15px;*/
    display: none;
}
.nav-mid-item-drop ul{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px grey;
    list-style: none;
}
.nav-mid-item-drop a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
}
.nav-mid-item-drop a:link, .nav-mid-item-drop a:hover, .nav-mid-item-drop a:visited{
    color: black;
}
.nav-mid-item-drop li {
    display: flex;
    height: 50px;
    border-radius: 5px;
}
.nav-mid-item-drop span {
	margin: auto;
}
.emoticon-container {
    padding: 2em 2em 3em 2em;
    background-image: url("images/halftone-yellow.png");
    border-bottom: 1px darkgoldenrod solid;
}
.container-header {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 2em;
}
.container-header h2 {
    margin-right: auto;
    font-family: 'Dekko', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-header button {
    width: 110px;
    height: 32px;
    border: none;
    border-right: 2px grey solid;
    border-bottom: 2px grey solid;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.emoticon-package {
    width: 270px;
    background-color: lavender;
    border-bottom: 2px grey solid;
    margin: 10px;
    padding: 15px;
}
.emoticon-Thumbnail {
	width: 270px;
	height: 270px;
}
.emoticon-Thumbnail img {
	width: 33%;
	height: 33%;
	float: left;
}
.emoticon-Thumbnail #Thumbnail1 {
	width: 66%;
	height: 66%;
}
.emoticon-package p {
    font-family: 'Didact Gothic';
    margin: 8px 0;
}
.title {
    font-weight: bold;
}
.artist {
    font-size: 10pt;
}
.other {
	display: flex;
    font-size: 10pt;
}
.other img {
	margin: auto 0.5em auto 0;
	width: 15px;
	height: 15px;
}
#likes {
	margin-left: auto;
}
#tags-container {
    padding: 2em 2em 3em 2em;
    background-image: url("images/halftone-yellow-opacity.png");
    border-bottom: 1px darkgrey solid;
}
#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px goldenrod solid;
    padding-bottom: 16px;
    margin-bottom: 32px;
}
#styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tags {
    width: 300px;
    margin: 0 10px 10px 10px ;
}
.tags ul {
    padding-left: 0;
    margin: 0;
}
.tags li {
    display: block;
    padding-bottom: 10px;
}
.tags a {
    text-decoration: none;
}
.tags a:link, .tags a:hover, .tags a:visited{
    color: grey;
}
#footer {
    background-color: #151113;
    padding: 2em;
    text-align: right;
}
#footer p {
    font-family: 'Noto Sans KR';
    color: white;
}
#remote_control {
	width: 40px;
	height: 40px;
	background-color: white;
	position: fixed;
	text-align: center;
	bottom: 50px;
	right: 50px;
	border-radius: 100%;
	opacity: 0.7;
	display: table;
}

#up_button {
	color: black;
	text-decoration: none;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
        }