body {
    margin: 0;
    min-width: 800px;
}
#header {
    background-image: url("images/paisley.png");
    text-align: center;
}
#navbar-top {
	
    display: flex;
    align-items: center;
    width: 100%;
}
#navbar-top>a {
    margin: 10px auto 10px 10px;
}
#navbar-top-right {
	float :left;
    white-space: nowrap;
	color: Black;
}
#navbar-top-right img {

	width: 20px;
	height: 20px;
}
.nav-top-item {
	height: 21.6px;
    display: inline-block;
    background-color: rgba( 0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 7px 11px 7px 11px;
    margin-right: 20px;
}
.nav-top-item a{
	text-decoration: none;
}
.nav-top-item a:link, .nav-top-item a:hover, .nav-top-item a:visited{
    color: black;
}
#header-content {
    max-width: 56em;
    margin: auto;
    padding: 0 6em 5em 6em;
}
#header-content p {
    color: Black;
    margin: 1em 0 1em 0;
}
#navbar-mid {
    display: flex;
    align-items: center;
    background-image: url("images/prism.png");
    height: 80px;
    padding: 0 30px 0 30px;
}
#navbar-mid form {
    display: inline-flex;
    height: 40px;
    width: 500px;
    margin: 0 auto 0 0;
    background-color: lavender;
    border: 2px black solid;
    border-radius: 20px;
}
#navbar-mid input {
    width: 90%;
    height: 100%;
    padding-left: 2em;
    margin: 0;
    border: none;
    background-color: transparent;
}
#navbar-mid button {
    width: 10%;
    background-color: transparent;
    border: none;
}
#navbar-mid img {
    margin: 0;
}
#navbar-mid ul {
    white-space: nowrap;
}
.nav-mid-item {
    display: inline-flex;
    width: 100px;
    height: 80px;
    position: relative;
}
.nav-mid-item a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    margin: auto;
	text-decoration: none;
}
.nav-mid-item a:link, .nav-mid-item a:hover, .nav-mid-item a:visited{
	color: white;
}
.nav-mid-item-drop{
    position: absolute;
    width: 100px;
    top: 80px;
    display: none;
}
.nav-mid-item-drop ul{
    background-image: url("images/prism.png");
    padding: 0;
    list-style: none;
    border-left: 3px goldenrod solid;
    border-right: 3px goldenrod solid;
}
.nav-mid-item-drop a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    margin-top: auto;
}
.nav-mid-item-drop a:link, .nav-mid-item-drop a:hover, .nav-mid-item-drop a:visited{
    color: white;
}
.nav-mid-item-drop li {
    display: flex;
    text-align: center;
    height: 50px;
}
.nav-mid-item-drop span {
	margin: auto;
}
#container {
    display: flex;
    width: 100%;
    background-image: url("images/stripes-light.png");
}
#content {
    min-width: 600px;
    padding: 2em 3em 2em 3em;
    font-family: "Didact Gothic";
    margin: auto;
}
#content-wrapper {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba( 0, 0, 0, 0.5);
    text-align: center;
}
.emoticon-container {
	padding: 10px 10px;
}
.container-header {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 2em;
}
.container-header p {
    margin-right: auto;
}
.container-header button {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
.container-header button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
.emoticon-package {
	display: flex;
	align-items: center;
	justify-content: center;
}
.emoticon-item:nth-child(2), .emoticon-item:nth-child(3) {
	margin: 0 20px;
}
.Thumbnail{
    width: 150px;
    height: 150px;
}
.emoticon-item p {
	margin: 5px;
}
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.info img {
	width: 25px;
	height: 25px;
}
.info_item {
	margin: 0 5px;
}
#content a {
	text-decoration: none;
}
#content a:link, #content a:hover, #content a:visited{
	color: black;
}
#ad {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: auto;
    padding: 2em 0 2em 0;
    background-color: rgba( 0, 0, 0, 0.1);
}
#ad a {
    margin: auto;
}
#footer {
    background-color: #151113;
    padding: 2em;
    text-align: right;
}
#footer p {
    font-family: 'Noto Sans KR';
    color: white;
}