body {
    margin: 0;
    min-width: 900px;
   
}
#header {
    background-image: url("images/paisley.png");
    text-align: center;
}
#navbar-top {
    display: flex;
    align-items: center;
    width: 100%;
}
#navbar-top>a {
    margin: 10 auto 10 10;
}
#navbar-top-right {
    white-space: nowrap;
	color: Black;
}
#navbar-top-right img {
	width: 20px;
	height: 20px;
}
.nav-top-item {
	height: 21.6px;
    display: inline-block;
    background-color: rgba( 0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 7 11 7 11;
    margin-right: 20px;
}
.nav-top-item a{
	text-decoration: none;
}
.nav-top-item a:link, .nav-top-item a:hover, .nav-top-item a:visited{
    color: black;
}
#header-content {
    max-width: 56em;
    margin: auto;
    padding: 0 6em 5em 6em;
}
#header-content p {
    color: Black;
    margin: 1em 0 1em 0;
}
#navbar-mid {
    display: flex;
    align-items: center;
    background-image: url("images/prism.png");
    height: 80px;
    padding: 0 30px 0 30px;
}
#navbar-mid form {
    display: inline-flex;
    height: 40px;
    width: 500px;
    margin: 0 auto 0 0;
    background-color: lavender;
    border: 2px black solid;
    border-radius: 20px;
}
#navbar-mid input {
    width: 90%;
    height: 100%;
    padding-left: 2em;
    margin: 0;
    border: none;
    background-color: transparent;
}
#navbar-mid button {
    width: 10%;
    background-color: transparent;
    border: none;
}
#navbar-mid img {
    margin: 0;
}
#navbar-mid ul {
    white-space: nowrap;
}
.nav-mid-item {
    display: inline-flex;
    width: 100px;
    height: 80px;
    position: relative;
}
.nav-mid-item a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    margin: auto;
	text-decoration: none;
}
.nav-mid-item a:link, .nav-mid-item a:hover, .nav-mid-item a:visited{
	color: white;
}
.nav-mid-item-drop{
    position: absolute;
    width: 100px;
    top: 80px;
    display: none;
}
.nav-mid-item-drop ul{
    background-image: url("images/prism.png");
    padding: 0;
    list-style: none;
    border-left: 3px goldenrod solid;
    border-right: 3px goldenrod solid;
}
.nav-mid-item-drop a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    margin-top: auto;
}
.nav-mid-item-drop a:link, .nav-mid-item-drop a:hover, .nav-mid-item-drop a:visited{
    color: white;
}
.nav-mid-item-drop li {
    display: flex;
    text-align: center;
    height: 50px;
}
.nav-mid-item-drop span {
	margin: auto;
}
#container {
    display: flex;
    width: 100%;
    background-image: url("images/stripes-light.png");
}
#content {
    min-width: 600px;
    padding: 2em 3em 2em 3em;
    font-family: "Didact Gothic";
}
#content-wrapper {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba( 0, 0, 0, 0.5);
}
#content-wrapper h2 {
    font-size: 24pt;
    margin: 0 0 50px 0;
}
#content-wrapper form {
    font-size: 16pt;
    margin: 0;
}
#title {
    display: flex;
    width: 100%;
}
#title label {
    margin: auto 0 auto 0;
}
#title input {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 12pt;
    padding: 0.3em;
}
#content-wrapper textarea {
    margin-top: 10px;
    font-size: 12pt;
    width: 100%;
    resize: none;
}
#desc_label {
    display: flex;

}
#desc_label p{
    margin: auto 0 0 auto;
    font-size: 10pt;
}
#file_label {
    display: flex;
    margin-top: 30px;
}
#file_label input{
    margin-left: auto;
}
.upload_images {
    border: 1px rgb(169, 169, 169) solid;
    width: 100%;
    height: 120px;
    margin-top: 10px;
}
.upload_images img{
	width : 100px;
	height: 100px;
}
#content-wrapper span {
    display: flex;
    margin-top: 2em;
}
#content-wrapper button {
    margin-left: auto;
    width: 160px;
    height: 50px;
    border: none;
    border-bottom: 3px #1e3048 solid;
    border-radius: 40px;
    color: white;
    background-color: steelblue;
	font-size: 20px;
}
#ad {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: auto;
    padding: 2em 0 2em 0;
    background-color: rgba( 0, 0, 0, 0.1);
}
#ad a {
    margin: auto;
}
#footer {
    background-color: #151113;
    padding: 2em;
    text-align: right;
}
#footer p {
    font-family: 'Noto Sans KR';
    color: white;
}

